:root {
    --ion-color-mycustom: #ff5733;
    --ion-color-mycustom-rgb: 255, 87, 51;
    --ion-color-mycustom-contrast: #ffffff;
    --ion-color-mycustom-contrast-rgb: 255, 255, 255;
    --ion-color-mycustom-shade: #e64a2d;
    --ion-color-mycustom-tint: #ff6844;
  }
  